configuration {
	font:                       "JetBrainsMono Nerd Font 12";
  show-icons:                 true;
  icon-theme:                 "Yaru-dark";
  drun-display-format:        "{name}";
  disable-history:            false;
  modi:                       "drun";
}

@theme "spotlight-dark.rasi"

